<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>密封邦--用户登录</title>
    <!-- build:css /library/style/webcommon.css -->
    <link rel="stylesheet" href="library/style/font-awesome.css"/>
    <link rel="stylesheet" href="library/style/elementui2.4.11.css"/>
    <link rel="stylesheet" href="library/style/cssreset3.css"/>
    <!-- endbuild -->
    <!-- build:css /style/login.css -->
    <link rel="stylesheet" href="style/login.css"/>
    <!-- endbuild -->
    <!-- build:js script/configBG.js -->
    <script src="script/configBG.js"></script>
    <!-- endbuild -->
    <!-- build:js script/common.js -->
    <script src="script/common.js"></script>
    <!-- endbuild -->
</head>
<body>
<div class="outFrame" id="app">
    <div class="loginFrame">
        <div class="loginContent">
            <h1><img src="style/images/LOGO.png" alt="密封邦"/></h1>
            <h2>企业版 v1.0</h2>
            <ul class="loginForm">
                <li>
                    <el-autocomplete type="text" class="inline-input" prefix-icon="fa fa-user" size="large" v-model="input.telnumber" :fetch-suggestions="querySearch" placeholder="手机号码&#47;用户名" maxlength="32" clearable></el-autocomplete>
                </li>
                <li class="inputPassword">
                    <el-input type="text" placeholder="登录密码" prefix-icon="fa fa-lock" size="large" v-model="input.password" maxlength="32" clearable></el-input>
                </li>
                <li>
                    <el-checkbox v-model="input.remember">记住登录信息</el-checkbox>
                </li>
                <li class="tipMessage">
                    <span v-if="msg.text" class="fa" :class="msg.type">
                        <div class="loadingBlock"><div></div><div></div><div></div><div></div><div></div></div>
                        {{msg.text}}
                    </span>
                </li>
                <li class="buttonBar">
                    <button class="rexButton" color="green" @click="doLogin()">登录系统</button>
                </li>
            </ul>
        </div>
    </div>

    <!-- 轻量信息提示 -->
    <div class="miniDialog bottom" id="resultShow">
        <div class="dialog-content">
            <span class="diy"></span>
        </div>
    </div>
</div>

<!-- build:js library/js/webcommon.js -->
<script src="library/js/jquery.min.js"></script>
<script src="library/js/vue.min.js"></script>
<script src="library/js/rexfunction.js"></script>
<script src="library/js/rexajax2.js"></script>
<script src="library/js/rexdialog.js"></script>
<script src="library/js/elementui2.4.11.js"></script>
<!-- endbuild -->
<!-- build:js script/login.js -->
<script src="script/login.js"></script>
<!-- endbuild -->
</body>
</html>