<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>密封邦--主界面</title>
    <!-- build:css /library/style/webcommon.css -->
    <link rel="stylesheet" href="library/style/font-awesome.css"/>
    <link rel="stylesheet" href="library/style/elementui2.4.11.css"/>
    <link rel="stylesheet" href="library/style/cssreset3.css"/>
    <!-- endbuild -->
    <!-- build:css /style/main.css -->
    <link rel="stylesheet" href="style/main.css"/>
    <!-- endbuild -->
    <!-- build:js script/configBG.js -->
    <script src="script/configBG.js"></script>
    <!-- endbuild -->
    <!-- build:js script/common.js -->
    <script src="script/common.js"></script>
    <!-- endbuild -->
</head>
<body>
<div id="app" class="admFrame">
    <header>
        <span class="fa fa-dedent opButton" title="展开&#47;收缩左侧菜单"></span>
        <span class="fa fa-refresh opButton" title="刷新当前页面"></span>
        <div class="extButtonBar">
            <span class="fa fa-check-square-o opButton" title="测量信息审核"></span>
            <span class="fa fa-upload opButton" title="上传列表"></span>
            <span class="fa fa-bell-o opButton" title="通知公告"></span>
            <span class="fa fa-question-circle opButton" title="帮助手册"></span>
            <div class="userinfor fa fa-chevron-right">
                <strong class="fa fa-user userface">{{user.name}}</strong>
                <span>[{{user.typename}}]</span>
                <ul class="submenu">
                    <li><a href="javascript:void(0);" class="fa fa-list-alt"> 基本资料</a></li>
                    <li><a href="javascript:void(0);" class="fa fa-edit"> 修改密码</a></li>
                    <li><a href="javascript:void(0);" class="fa fa-chain"> 关联微信</a></li>
                    <li><a href="javascript:void(0);" class="fa fa-power-off" @click="loginOut"> 退出登录</a></li>
                </ul>
            </div>
        </div>
    </header>
    <nav class="leftSide">
        <h2>
            <img src="style/images/LOGO2.png"/>
            <span>企业版 v1.0</span>
            <strong>Sealingbang</strong>
        </h2>
        <ul class="navList">
            <li :class="{'active':isActive('home')}">
                <a href="javascript:void(0);" @click="showPage('home')"><span class="fa fa-home"></span> 系统首页</a>
            </li>
            <li class="more" v-if="user.type!=='eqmuser'">
                <a href="javascript:void(0);" class="fa fa-chevron-right" @click="chkShow($event)"><span class="fa fa-th-large"></span> 基础数据</a>
                <ul>
                    <li :class="{'active':isActive('user')}"><a href="javascript:void(0);" @click="showPage('user')" v-if="user.type==='manager'">人员管理</a></li>
                    <li :class="{'active':isActive('position')}"><a href="javascript:void(0);" @click="showPage('position')">功位管理</a></li>
                </ul>
            </li>
            <li class="more" v-if="user.type==='user'">
                <a href="javascript:void(0);" class="fa fa-chevron-right" @click="chkShow($event)"><span class="fa fa-user-md"></span> 测量信息</a>
                <ul>
                    <li :class="{'active':isActive('gasket')}"><a href="javascript:void(0);" @click="showPage('gasket')">垫片</a></li>
                    <li :class="{'active':isActive('fill')}"><a href="javascript:void(0);" @click="showPage('fill')">填料</a></li>
                    <li :class="{'active':isActive('oring')}"><a href="javascript:void(0);" @click="showPage('oring')">O形圈</a></li>
                    <li :class="{'active':isActive('matel')}"><a href="javascript:void(0);" @click="showPage('matel')">金属环垫</a></li>
                </ul>
            </li>
            <li :class="{'active':isActive('check')}" v-if="user.type==='equser'">
                <a href="javascript:void(0);" @click="showPage('check')"><span class="fa fa-check-square-o"></span> 测量审核</a>
            </li>
            <li :class="{'active':isActive('orders')}" v-if="user.type==='equser' || user.type==='eqmuser'">
                <a href="javascript:void(0);" @click="showPage('orders')"><span class="fa fa-shopping-cart"></span> 采购订单</a>
            </li>
            <li :class="{'active':isActive('search')}">
                <a href="javascript:void(0);" @click="showPage('search')"><span class="fa fa-search"></span> 综合查询</a>
            </li>
            <li :class="{'active':isActive('BMC')}">
                <a href="javascript:void(0);" @click="showPage('BMC')"><span class="fa fa-circle-o"></span> BMC产品</a>
            </li>
            <li class="more">
                <a class="fa fa-chevron-right" href="javascript:void(0);" @click="chkShow($event)"><span class="fa fa-suitcase"></span> 知识库</a>
                <ul>
                    <li :class="{'active':isActive('technical')}"><a href="javascript:void(0);" @click="showPage('technical')">行业标准</a></li>
                    <li :class="{'active':isActive('knowledge')}"><a href="javascript:void(0);" @click="showPage('knowledge')">密封知识</a></li>
                </ul>
            </li>
            <li class="more">
                <a class="fa fa-chevron-right" href="javascript:void(0);" @click="chkShow($event)"><span class="fa fa-wrench"></span> 工具库</a>
                <ul>
                    <li :class="{'active':isActive('torque')}"><a href="javascript:void(0);" @click="showPage('torque')">力矩计算</a></li>
                    <li :class="{'active':isActive('install')}"><a href="javascript:void(0);" @click="showPage('install')">安装指导</a></li>
                    <li :class="{'active':isActive('scheme')}"><a href="javascript:void(0);" @click="showPage('scheme')">技术方案</a></li>
                </ul>
            </li>
            <li :class="{'active':isActive('expert')}">
                <a href="javascript:void(0);" @click="showPage('expert')"><span class="fa fa-stethoscope"></span> 专家在线</a>
            </li>
        </ul>
    </nav>
    <div class="rightSide"></div>
    <div class="mainContent">
        <iframe id="mainPage"></iframe>
    </div>
    <footer></footer>
</div>
<!-- build:js library/js/webcommon.js -->
<script src="library/js/jquery.min.js"></script>
<script src="library/js/vue.min.js"></script>
<script src="library/js/rexfunction.js"></script>
<script src="library/js/rexajax2.js"></script>
<script src="library/js/rexdialog.js"></script>
<script src="library/js/elementui2.4.11.js"></script>
<!-- endbuild -->
<!-- build:js  script/main.js -->
<script src="script/main.js"></script>
<!-- endbuild -->
</body>
</html>
