<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>密封邦--订单列表</title>
    <!-- build:css /library/style/webcommon.css -->
    <link rel="stylesheet" href="library/style/font-awesome.css"/>
    <link rel="stylesheet" href="library/style/elementui2.4.11.css"/>
    <link rel="stylesheet" href="library/style/cssreset3.css"/>
    <!-- endbuild -->
    <!-- build:css /style/main.css -->
    <link rel="stylesheet" href="style/home.css"/>
    <!-- endbuild -->
    <!-- build:js script/configBG.js -->
    <script src="script/configBG.js"></script>
    <!-- endbuild -->
    <!-- build:js script/common.js -->
    <script src="script/common.js"></script>
    <!-- endbuild -->
</head>
<body>
<div id="app" class="outFrame2">
    <div class="pageTitle">
        <div class="position fa fa-map-marker">采购订单</div>
        <ul class="menuBar nohead">
            <li :class="{'sel':showFlag('order')}" @click="changeItem('order')">采购单列表</li>
            <li :class="{'sel':showFlag('wait')}" @click="changeItem('wait')">未发货</li>
        </ul>
        <span class="fa fa-search buttonSearch"> 搜索</span>
    </div>
    <ul class="relationPart nohead">
        <li v-if="menu==='order'">
            <label>状态</label><el-select placeholder="请选择">
                <el-option v-for="item in selStatus" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-select>
        </li>
        <li v-if="menu==='order'">
            <label>快递单号</label><el-input placeholder="请输入内容"></el-input>
        </li>
        <li class="r2" v-if="menu==='order'">
            <label>发货日期</label><el-date-picker v-model="orderDate" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期"></el-date-picker>
        </li>
        <li class="cll">
            <label>大修编号</label><el-input placeholder="请输入内容"></el-input>
        </li>
        <li>
            <label>工单号</label><el-input placeholder="请输入内容"></el-input>
        </li>
        <li>
            <label>功位</label><el-input placeholder="请输入内容"></el-input>
        </li>
        <li>
            <label>物料编码</label><el-input placeholder="请输入内容"></el-input>
        </li>
        <li>
            <label>牌号</label><el-input placeholder="请输入内容"></el-input>
        </li>
        <li>
            <label>材质</label><el-input placeholder="请输入内容"></el-input>
        </li>
        <li>
            <label>尺寸</label><el-input placeholder="请输入内容"></el-input>
        </li>
        <li>
            <label>质保等级</label><el-input placeholder="请输入内容"></el-input>
        </li>
        <li>
            <label>部门</label><el-select placeholder="请选择">
                <el-option v-for="item in department" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-select>
        </li>
    </ul>
    <div class="orderList"  v-if="menu==='order'">
        <el-table :data="orderlist" ref="myTable" border class="listTable" @row-click="getDetailShow">
            <el-table-column label="展开" width="50" key="openShow">
                <template slot-scope="scope">
                    <span class="fa" :class="{'fa-plus-square-o':!scope.row.show,'fa-minus-square-o':scope.row.show}"></span>
                </template>
            </el-table-column>
            <el-table-column prop="status" label="状态" width="84" key="status">
                <template slot-scope="scope">
                    <span class="status" :class="scope.row.status"></span>
                </template>
            </el-table-column>
            <el-table-column prop="orderID" label="快递单号" key="orderID"></el-table-column>
            <el-table-column prop="orderName" label="快递公司" key="orderName"></el-table-column>
            <el-table-column prop="kind" label="产品种类" key="kind"></el-table-column>
            <el-table-column prop="ordertime" label="发货时间" key="ordertime"></el-table-column>
            <el-table-column prop="finishedtime" label="完成时间" key="finishedtime"></el-table-column>
            <el-table-column label="发货备注" key="remark"></el-table-column>
            <el-table-column label="操作" width="100" key="op">
                <template slot-scope="scope">
                    <span class="fa fa-truck opButton" title="查看物流进度" @click="showDetails($event)"></span>
                    <span class="fa fa-edit opButton" v-if="scope.row.status==='send'" title="标记到货"></span>
                </template>
            </el-table-column>
            <el-table-column type="expand" key="colExt" width="0">
                <template slot-scope="scope">
                    <table class="rexTable">
                        <thead>
                        <tr>
                            <th width="30">#</th>
                            <th>功位</th>
                            <th>物料编码</th>
                            <th>产品描述</th>
                            <th>材质</th>
                            <th>尺寸</th>
                            <th>质保等级</th>
                            <th>采购数量</th>
                            <th>大修编号</th>
                            <th>工单号</th>
                            <th>部门</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item,index) in orderlistDetails[scope.row.id]">
                            <td>{{index+1}}</td>
                            <td>{{item.position}}</td>
                            <td>{{item.product}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.material}}</td>
                            <td>{{item.ruler}}</td>
                            <td>{{item.level}}</td>
                            <td>{{item.count}}</td>
                            <td>{{item.round}}</td>
                            <td>{{item.number}}</td>
                            <td>{{item.department}}</td>
                        </tr>
                        </tbody>
                    </table>
                </template>
            </el-table-column>
        </el-table>
        <div class="cutpage">
            <el-pagination background layout="prev, pager, next" :total="33"></el-pagination>
        </div>
    </div>
    <div class="orderList" v-if="menu==='wait'">
        <div class="extButtonBar">
            <div class="left">
                <span class="fa fa-list"> 导出未发货清单</span>
            </div>
        </div>
        <el-table :data="productlist" ref="myTable" border class="listTable">
            <el-table-column label="#" width="40" key="colIndex">
                <template slot-scope="scope">
                    <span>{{scope.$index+1}}</span>
                </template>
            </el-table-column>
            <el-table-column prop="orderDate" label="到货约定" key="orderDate"></el-table-column>
            <el-table-column prop="from" label="来源" key="ordertype"></el-table-column>
            <el-table-column prop="position" label="功位" key="position2"></el-table-column>
            <el-table-column prop="product" label="物料编码" key="product2"></el-table-column>
            <el-table-column prop="description" label="产品描述" key="description2"></el-table-column>
            <el-table-column prop="material" label="材质" key="material2"></el-table-column>
            <el-table-column prop="ruler" label="尺寸" key="ruler2"></el-table-column>
            <el-table-column prop="level" label="质保等级" key="level2"></el-table-column>
            <el-table-column prop="count" label="采购数量" key="count2"></el-table-column>
            <el-table-column prop="round" label="大修编号" key="round2"></el-table-column>
            <el-table-column prop="number" label="工单号" key="number2"></el-table-column>
            <el-table-column prop="department" label="部门" key="department2"></el-table-column>
            <el-table-column label="备注" key="remark"></el-table-column>
        </el-table>
        <div class="cutpage">
            <el-pagination background layout="prev, pager, next" :total="33"></el-pagination>
        </div>
    </div>

    <div class="extMenu bottom orderDetails" id="information">
        <div class="dialogFrame">
            <div class="dialog-title">
                <h4><span class="fa fa-truck"></span> 订单信息详情</h4>
                <button class="rexButton opBtn btn-close right">&times;</button>
            </div>
            <div class="dialog-content">
                <div class="orderDetailsShow">
                    <ul class="orderBase nohead">
                        <li><label>快递公司</label><b>京东</b></li>
                        <li><label>快递单号</label><b>{{orderExpress.no}}</b></li>
                        <li><label>收件人</label><b>阳江核电机械部备件</b></li>
                        <li><label>备注信息</label><b>--</b></li>
                    </ul>
                    <ul class="expressList nohead">
                        <li v-for="item in orderExpress.list">{{item.datetime}} {{item.remark}}</li>
                    </ul>
                </div>
                <el-table :data="productlist" ref="myTable3"  class="listTable">
                    <el-table-column label="#" width="40" key="colIndex">
                        <template slot-scope="scope">
                            <span>{{scope.$index+1}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="orderDate" label="到货约定" key="orderDate"></el-table-column>
                    <el-table-column prop="from" label="来源" key="ordertype"></el-table-column>
                    <el-table-column prop="position" label="功位" key="position2"></el-table-column>
                    <el-table-column prop="product" label="物料编码" key="product2"></el-table-column>
                    <el-table-column prop="description" label="产品描述" key="description2"></el-table-column>
                    <el-table-column prop="material" label="材质" key="material2"></el-table-column>
                    <el-table-column prop="ruler" label="尺寸" key="ruler2"></el-table-column>
                    <el-table-column prop="level" label="质保等级" key="level2"></el-table-column>
                    <el-table-column prop="count" label="采购数量" key="count2"></el-table-column>
                    <el-table-column prop="round" label="大修编号" key="round2"></el-table-column>
                    <el-table-column prop="number" label="工单号" key="number2"></el-table-column>
                    <el-table-column prop="department" label="部门" key="department2"></el-table-column>
                    <el-table-column label="备注" key="remark"></el-table-column>
                </el-table>
            </div>
        </div>
    </div>
</div>
<!-- build:js library/js/webcommon.js -->
<script src="library/js/jquery.min.js"></script>
<script src="library/js/vue.min.js"></script>
<script src="library/js/rexfunction.js"></script>
<script src="library/js/rexajax2.js"></script>
<script src="library/js/rexdialog.js"></script>
<script src="library/js/elementui2.4.11.js"></script>
<!-- endbuild -->
<!-- build:js  script/main.js -->
<script src="script/orders.js"></script>
<!-- endbuild -->
</body>
</html>
