@charset "UTF-8";
.outFrame { background: #f0f0f0; width: 100%; height: 100%; overflow: hidden; position: relative; padding: 10px; }

.outFrame2 { background: #f0f0f0; width: 100%; height: 100%; overflow: auto; position: relative; padding: 10px; }

.infoPart { display: inline-block; width: 50%; border-left: 10px solid transparent; background: #fff; background-clip: padding-box; margin-bottom: 10px; padding: 10px; }
.infoPart:first-child { border-left: 0; border-right: 10px solid transparent; background: #fff; }
.infoPart .imgFace { width: 80px; float: left; position: relative; }
.infoPart .imgFace img { display: block; width: 100%; }
.infoPart > span { display: block; margin-left: 90px; margin-top: 6px; }
.infoPart .first { font-size: 18px; }
.infoPart .welcome { color: #666; }
.infoPart .welcome b { color: #009688; }
.infoPart .group { color: #999; }
.infoPart .department strong { border-right: 1px solid #ccc; font-weight: normal; padding-right: 15px; margin-right: 12px; }

.userInfo .imgFace img { border-radius: 40px; }
.userInfo .first { font-weight: bold; }

.companyInfo .imgFace img { border-radius: 4px; }

.listPart { margin-bottom: 10px; }
.listPart h3 { line-height: 40px; padding-top: 4px; background: #fff; padding-left: 20px; position: relative; color: #666; font-size: 16px; }
.listPart h3 b { position: absolute; left: 5px; top: 5px; font-size: 12px; background: red; color: #fff; line-height: 16px; width: 16px; text-align: center; border-radius: 50%; font-weight: normal; }
.listPart h3 .fa { font-size: 20px; color: #009688; }
.listPart h3 .buttonDetail { position: absolute; right: 10px; top: 10px; line-height: 26px; width: 40px; text-align: center; background: #009688; color: #fff; border-radius: 4px; }
.listPart h3 .tipMessage { float: right; font-size: 14px; padding-right: 10px; }
.listPart h3 .tipMessage.warning { color: #ee8c00; }
.listPart h3 .tipMessage.warning:before { color: #ffcc00; }
.listPart h3 .folding { margin-left: 5px; position: relative; top: 1px; line-height: 30px; cursor: pointer; }
.listPart h3 .folding.hide { transform: rotate(180deg); }
.listPart h3 .extButton { float: right; margin-right: 10px; position: relative; top: 4px; line-height: 30px; cursor: pointer; background: #009688; color: #fff; padding: 0 5px; border-radius: 4px; }
.listPart:hover h3 { background: #D0F0ED; }

.listTable { width: 100%; }
.listTable th { background: #009688; color: #fff; }
.listTable th:first-child, .listTable th:last-child, .listTable td:first-child, .listTable td:last-child { text-align: center; }
.listTable tr:nth-child(even) { background: #EEFFFD; }
.listTable tr:nth-child(odd) { background: #D0F0ED; }
.listTable.el-table td { padding-top: 6px; padding-bottom: 6px; }
.listTable.el-table th { padding-top: 8px; padding-bottom: 8px; }
.listTable.el-table th, .listTable.el-table td { border-color: #fff; }
.listTable .status { display: inline-block; width: 60px; text-align: center; line-height: 28px; background: #ccc; border-radius: 4px; }
.listTable .opButton { cursor: pointer; }

.surveyList .status:before { content: '未提交'; }
.surveyList .status.back { background: red; color: #fff; }
.surveyList .status.back:before { content: '退回'; }
.surveyList .status.finished { background: #88ff88; }
.surveyList .status.finished:before { content: '完成'; }
.surveyList .status.send { background: #ffcc00; }
.surveyList .status.send:before { content: '待审核'; }

.orderList .status.send { background: #ffcc00; }
.orderList .status.send:before { content: '已发货'; }
.orderList .status.finished { background: #88ff88; }
.orderList .status.finished:before { content: '完成'; }

.userList .status { background: #88ff88; }
.userList .status:before { content: '正常'; }
.userList .status.ban { background: red; color: #fff; }
.userList .status.ban:before { content: '停用'; }

.pageTitle { line-height: 40px; box-shadow: 0 -1px 0 0 #ccc inset; overflow: hidden; }
.pageTitle .position { color: #666; float: left; }
.pageTitle .position.fa:before { margin-right: 5px; }
.pageTitle .menuBar { margin-left: 20px; float: left; }
.pageTitle li { float: left; margin-right: 8px; height: 40px; line-height: 40px; color: #666; border: 1px solid transparent; padding: 0 14px; font-size: 16px; cursor: pointer; }
.pageTitle li:hover { background: #fff; }
.pageTitle li.sel { background: #fff; color: #009688; cursor: default; border-color: #ccc; border-bottom-color: transparent; }
.pageTitle li.thin { background: transparent; padding: 0 5px; }
.pageTitle li.thin .fa:before { display: inline-block; transition-property: transform; transition-duration: .5s; }
.pageTitle li.thin.sel { border-color: transparent; }
.pageTitle li.thin.sel .fa:before { transform: rotate(90deg); }
.pageTitle .buttonSearch { float: right; background: #009688; color: #fff; border-radius: 4px; line-height: 30px; padding: 0 10px; cursor: pointer; }
.pageTitle.tiny { box-shadow: none; line-height: 20px; padding-bottom: 10px; }

.relationPart { background: #fff; padding: 5px; overflow: hidden; border-bottom: 1px dashed #ccc; }
.relationPart li { width: 25%; float: left; padding: 5px; }
.relationPart li > label { display: inline-block; width: 60px; margin-right: 10px; text-align: right; }
.relationPart li > .el-input, .relationPart li > .el-select, .relationPart li > .el-radio-group { width: calc(100% - 70px); max-width: 200px; }
.relationPart li > .el-radio-group { white-space: nowrap; }
.relationPart li > .el-radio-group .el-radio-button__inner { padding-left: 8px; padding-right: 8px; }
.relationPart > li.r2 { width: 50%; }
.relationPart > li.r3 { width: 75%; }
.relationPart > li.r4 { width: 100%; }
.relationPart > li.cll { clear: left; }
.relationPart > li.clr { clear: right; }
.relationPart > li.cla { clear: both; }

.listShow { background: #fff; }

.extButtonBar { padding: 10px 5px; overflow: hidden; }
.extButtonBar .left { float: left; }
.extButtonBar .right { float: right; }
.extButtonBar .fa { display: inline-block; color: #fff; background: #009688; border-radius: 4px; padding: 0 5px; line-height: 30px; cursor: pointer; }

.listOPMenu { position: absolute; background: #fff; box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); top: 10px; left: 100px; z-index: 20; width: 120px; border: 1px solid #fff; border-radius: 4px; overflow: hidden; }
.listOPMenu li { padding: 8px; padding-left: 15px; background: #333; color: #fff; margin-top: 1px; cursor: pointer; }
.listOPMenu li .fa { opacity: .5; margin-right: 3px; }
.listOPMenu li:first-child { margin-top: 0; }
.listOPMenu li:hover { background: #666; }

.cutpage { padding: 10px; text-align: center; }

.formPart { background: #fff; padding: 5px; overflow: hidden; border-top: 1px solid #ccc; }
.listPart:hover .formPart { background: #EEFFFD; border-top-color: #009688; }
.formPart > li { width: 33%; float: left; padding: 5px; white-space: nowrap; }
.formPart > li > label { display: inline-block; width: 100px; margin-right: 10px; text-align: right; }
.formPart > li > label.request:before, .formPart > li > span.request:before { content: '*'; font-size: 18px; color: red; font-weight: bold; }
.formPart > li > label.down { position: relative; top: 5px; }
.formPart > li > label.up { position: relative; top: -90px; }
.formPart > li > .el-input, .formPart > li > .el-select, .formPart > li .el-textarea { width: calc(100% - 110px); max-width: 320px; }
.formPart > li > .el-checkbox-group { display: inline-block; }
.formPart > li.r2 { width: 66%; }
.formPart > li.r3 { width: 100%; }
.formPart > li.r3 .el-textarea { width: calc(100% - 110px); max-width: 900px; }
.formPart > li.cll { clear: left; }
.formPart > li.clr { clear: right; }
.formPart > li.cla { clear: both; }
.formPart .typeSelect > .show1 { width: 60px; }
.formPart .typeSelect > .show0 { width: 100px; }
.formPart .typeSelect > span { margin-left: 10px; margin-right: 5px; }
.formPart .typeSelect .el-input__inner { padding: 0 5px; }
.formPart .typeSelect > .el-input { width: calc(100% - 240px); min-width: 70px; max-width: 208px; }
.formPart .gasketSelect > .level1 { width: 50%; max-width: 220px; min-width: 80px; }
.formPart .gasketSelect > .level2 { width: 40%; max-width: 140px; min-width: 70px; }
.formPart .showWarning { color: #ee8c00; }
.formPart .showWarning:before { color: #ffcc00; }
.formPart .inputSelect > .el-input { width: calc(100% - 190px); max-width: 260px; }
.formPart .inputSelect > .el-select { width: 80px; }
.formPart .inputInput > .el-input { width: calc(50% - 95px); max-width: 130px; }
.formPart .inputInput .el-input__inner { padding: 0 5px; }
.formPart .inputInput > span { margin-left: 15px; margin-right: 10px; }

.imgShow img { display: block; max-width: 90%; max-height: 400px; min-width: 350px; margin: 0 auto; }
.imgShow.tall img { max-height: 600px; }

.centerBlock { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: repeating-linear-gradient(45deg, #EDB506 0, #EDB506 25px, #000 25px, #000 50px); padding: 10px; border-radius: 20px; }
.centerBlock .inside { border-radius: 20px; background: #fff; overflow: hidden; padding: 5px; }
.centerBlock img { float: left; width: 130px; margin-right: 15px; }
.centerBlock h1 { margin-left: 145px; padding-top: 30px; font-size: 28px; width: 500px; }
.centerBlock h2 { margin-left: 145px; padding-top: 15px; font-size: 18px; width: 500px; font-weight: normal; color: #666; }

.recommend > li > label { vertical-align: middle; }
.recommend > li .inputItem { vertical-align: middle; display: inline-block; width: calc(100% - 110px); max-width: 320px; white-space: normal; }
.recommend > li .inputItem .tips { display: inline-block; width: 100%; font-size: 12px; padding-bottom: 3px; color: #ff9900; }
.recommend.hidden > li .tips { display: none; }

.allStatus { position: absolute; right: 25px; top: 25px; z-index: 5; border: 3px solid #ccc; padding: 6px 20px; background: rgba(255, 255, 255, 0.4); transform: rotate(30deg); outline: 1px solid #999; outline-offset: 2px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
.allStatus.edit:before { content: '待审核'; text-shadow: 0 0 5px #fff; }
.allStatus.view { border-color: green; color: green; outline-color: green; background: rgba(0, 255, 0, 0.1); }
.allStatus.view:before { content: '审核通过'; }
.allStatus.back { border-color: red; color: red; outline-color: red; }
.allStatus.back:before { content: '被退回'; }

@media screen and (max-width: 900px) { .infoPart { width: 100%; border-left: 0; border-right: 0; }
  .relationPart li { width: 50%; }
  .formPart li { width: 50%; }
  .formPart li.r2 { width: 100%; } }
@media screen and (max-width: 620px) { .relationPart li { width: 100%; }
  .formPart li { width: 100%; } }

/*# sourceMappingURL=home.css.map */
