@charset "UTF-8";
@import '../library/style/config2.scss';
.outFrame{ background:#f0f0f0; width:100%; height:100%; overflow:hidden; position:relative; padding:10px;}
.outFrame2{ background:#f0f0f0; width:100%; height:100%; overflow:auto; position:relative; padding:10px;}
.infoPart{
  display:inline-block; width:50%; border-left:10px solid transparent; background:#fff; background-clip:padding-box; margin-bottom:10px; padding:10px;
  &:first-child{ border-left:0; border-right:10px solid transparent; background:#fff;}
  .imgFace{
    width:80px; float:left; position:relative;
    img{ display:block; width:100%;}
  }
  >span{
    display:block; margin-left:90px; margin-top:6px;
  }
  .first{ font-size:18px;}
  .welcome{
    color:#666;
    b{ color:$color1;}
  }
  .group{ color:#999;}
  .department{
    strong{ border-right:1px solid #ccc; font-weight:normal; padding-right:15px; margin-right:12px;}
  }
}
.userInfo {
  .imgFace img{
    border-radius: 40px;
  }
  .first{ font-weight:bold;}
}
.companyInfo{
  .imgFace img{
    border-radius:$borderRadius;
  }
}

.listPart{
  margin-bottom:10px;
  h3{
    line-height:40px; padding-top:4px; background:#fff; padding-left:20px; position:relative; color:#666; font-size:16px;
    b{ position:absolute; left:5px; top:5px; font-size:12px; background:red; color:#fff; line-height:16px; width:16px; text-align:center; border-radius:50%; font-weight:normal; }
    .fa{ font-size:20px; color:$color1;}
    .buttonDetail{ position:absolute; right:10px; top:10px; line-height:26px; width:40px; text-align:center; background:$color1; color:#fff; border-radius:$borderRadius;}
    .tipMessage{
      float:right; font-size:14px; padding-right:10px;
      &.warning{ color:#ee8c00;}
      &.warning:before{ color:$color4;}
    }
    .folding{ margin-left:5px; position:relative; top:1px; line-height:30px; cursor:pointer;}
    .folding.hide{ transform:rotate(180deg);}
    .extButton{ float:right; margin-right:10px; position:relative; top:4px; line-height:30px; cursor:pointer; background:$color1; color:#fff; padding:0 5px; border-radius:$borderRadius;}
  }
  &:hover h3{ background:$color5;}
}
//表格
.listTable{
  width: 100%;
  th{ background:$color1; color:#fff;}
  th:first-child, th:last-child, td:first-child, td:last-child{ text-align:center;}
  tr:nth-child(even){ background: $color6;}
  tr:nth-child(odd){ background: $color5;}
  &.el-table td{ padding-top:6px; padding-bottom:6px;}
  &.el-table th{ padding-top:8px; padding-bottom:8px;}
  &.el-table th, &.el-table td{ border-color:#fff;}
  .status{display:inline-block; width:60px; text-align:center; line-height:28px; background:#ccc; border-radius:$borderRadius;}
  .opButton{ cursor:pointer;}
  //扩展菜单
  .el-table__expanded-cell{ padding-left:10px; padding-right:10px;}
}
//二级表格
.rexTable{
  th{ background:#5a94e3; text-align:center;}
  td{ text-align:center;}
  tr:nth-child(even){ background: #eaf3ff;}
  tr:nth-child(odd){ background: #d7e7fd;}
}
//测量表
.surveyList{
  .status{
    &:before{ content:'未提交';}
    &.back{ background:red; color:#fff;}
    &.back:before{ content:'退回';}
    &.finished{ background:#88ff88;}
    &.finished:before{ content:'完成'}
    &.send{ background:$color4;}
    &.send:before{ content:'待审核';}
  }
}
//订单表
.orderList{
  .status{
    &.send{ background:$color4;}
    &.send:before{ content:'已发货';}
    &.finished{ background:#88ff88;}
    &.finished:before{ content:'完成'}
  }
}
//用户表
.userList{
  .status{
    background:#88ff88;
    &:before{ content:'正常';}
    &.ban{ background:red; color:#fff;}
    &.ban:before{ content:'停用';}
  }
}

//页面标题条
.pageTitle{
  line-height:40px; box-shadow:0 -1px 0 0 #ccc inset; overflow:hidden;
  .position{
    color:#666; float:left;
    &.fa:before{ margin-right:5px;}
  }
  .menuBar{ margin-left:20px; float:left;}
  li{ float:left; margin-right:8px; height:40px; line-height:40px; color:#666; border:1px solid transparent; padding:0 14px; font-size:16px; cursor:pointer;}
  li:hover{ background:#fff;}
  li.sel{ background:#fff; color:$color1; cursor:default; border-color:#ccc; border-bottom-color:transparent;}
  li.thin{
    background:transparent; padding:0 5px;
    & .fa:before{ display:inline-block; transition-property: transform; transition-duration: .5s;}
  }
  li.thin.sel{
    border-color:transparent;
    & .fa:before{ transform:rotate(90deg);}
  }
  .buttonSearch{ float:right; background:$color1; color:#fff; border-radius:$borderRadius; line-height:30px; padding:0 10px; cursor:pointer;}
  &.tiny{ box-shadow:none; line-height:20px; padding-bottom:10px;}
}
//查询条件输入块
.relationPart{
  background:#fff; padding:5px; overflow:hidden; border-bottom:1px dashed #ccc;
  li{
    width:25%; float:left; padding:5px;
    >label{ display:inline-block; width:60px; margin-right:10px; text-align:right;}
    >.el-input, >.el-select, >.el-radio-group{ width:calc(100% - 70px); max-width:200px;}
    >.el-radio-group{
      white-space: nowrap;
      .el-radio-button__inner{ padding-left:8px; padding-right:8px;}
    }
  }
  >li.r2{ width:50%;}
  >li.r3{width:75%;}
  >li.r4{ width:100%;}
  >li.cll{ clear:left;}
  >li.clr{ clear:right;}
  >li.cla{ clear:both;}
}

//列表内容框
.listShow{
  background:#fff;
}
//列表顶部查询条件
.extButtonBar{
  padding:10px 5px; overflow:hidden;
  .left{ float:left;}
  .right{ float:right;}
  .fa{ display:inline-block; color:#fff; background:$color1; border-radius:$borderRadius; padding:0 5px; line-height:30px; cursor:pointer;}
}

//列表扩展菜单
.listOPMenu{
  position:absolute; background:#fff; box-shadow:0 0 5px rgba(0,0,0,.4); top:10px; left:100px; z-index:20; width:120px; border:1px solid #fff; border-radius:$borderRadius; overflow:hidden;
  li{ padding:8px; padding-left:15px; background:#333; color:#fff; margin-top:1px; cursor:pointer;}
  li .fa{ opacity:.5; margin-right:3px;}
  li:first-child{ margin-top:0;}
  li:hover{ background:#666;}
}

//分页
.cutpage{ padding:10px; text-align:center;}

//表单内容输入
.formPart{
  background:#fff; padding:5px; overflow:hidden; border-top:1px solid #ccc;
  .listPart:hover &{ background:$color6; border-top-color:$color1;}
  >li{
    width:33%; float:left; padding:5px; white-space: nowrap;
    >label{ display:inline-block; width:100px; margin-right:10px; text-align:right;}
    >label.request:before,>span.request:before{ content:'*'; font-size:18px; color:red; font-weight:bold;}
    >label.down{ position:relative; top:5px;}
    >label.up{ position:relative; top:-90px;}
    >.el-input, >.el-select, .el-textarea{ width:calc(100% - 110px); max-width:320px;}
    >.el-checkbox-group{ display:inline-block;}
  }

  >li.r2{ width:66%;}
  >li.r3{
    width:100%;
    .el-textarea{ width:calc(100% - 110px); max-width:900px;}
  }
  >li.cll{ clear:left;}
  >li.clr{ clear:right;}
  >li.cla{ clear:both;}

  //维修类型填写组样式
  .typeSelect{
    >.show1{ width:60px;}
    >.show0{ width:100px;}
    >span{ margin-left:10px; margin-right:5px;}
    .el-input__inner{ padding:0 5px;}
    >.el-input{ width:calc(100% - 240px); min-width:70px; max-width:208px;}
  }

  //垫片分类二级联动
  .gasketSelect{
    >.level1{ width:50%; max-width:220px; min-width:80px;}
    >.level2{ width:40%; max-width:140px; min-width:70px;}
  }

  //图片相关的类型选择告警信息
  .showWarning{ color:#ee8c00;}
  .showWarning:before{ color:$color4;}

  //其他信息填写项
  .inputSelect{
    >.el-input{ width:calc(100% - 190px); max-width:260px;}
    >.el-select{ width:80px;}
  }

  //其他信息填写中的详细信息
  .inputInput{
    >.el-input{ width:calc(50% - 95px); max-width:130px;}
    .el-input__inner{ padding:0 5px;}
    >span{ margin-left:15px; margin-right:10px;}
  }
}
//产品图片
.imgShow{
  img{ display:block; max-width:90%; max-height:400px; min-width:350px; margin:0 auto;}
  &.tall img{ max-height:600px;}
}

//网站建设中
.centerBlock{
  position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); background:repeating-linear-gradient(45deg,#EDB506 0,#EDB506 25px, #000 25px, #000 50px); padding:10px; border-radius:20px;
  .inside{ border-radius:20px; background:#fff; overflow:hidden; padding:5px;}
  img{ float:left; width:130px; margin-right:15px;}
  h1{ margin-left:145px; padding-top:30px; font-size:28px; width:500px;}
  h2{ margin-left:145px; padding-top:15px; font-size:18px; width:500px; font-weight:normal; color:#666;}
}

//推荐列表
.recommend{
  >li{
    >label{ vertical-align:middle;}
    .inputItem{
      vertical-align:middle; display:inline-block; width:calc(100% - 110px); max-width:320px; white-space: normal;
      .tips{ display:inline-block; width:100%; font-size:12px; padding-bottom:3px; color:#ff9900;}
    }
  }
  &.hidden{
    >li .tips{ display:none;}
  }
}

//审核单状态
.allStatus{
  position:absolute; right:25px; top:25px; z-index:5; border:3px solid #ccc; padding:6px 20px; background:rgba(255,255,255,.4); transform: rotate(30deg); outline:1px solid #999; outline-offset:2px; box-shadow:0 0 10px rgba(0,0,0,.4);
  &.edit:before{ content:'待审核'; text-shadow:0 0 5px #fff;}
  &.view{
    border-color:green; color:green; outline-color:green; background:rgba(0,255,0,.1);
    &:before{ content:'审核通过';}
  }
  &.back{
    border-color:red; color:red; outline-color:red;
    &:before{ content:'被退回';}
  }
}

body .el-table th.gutter{
  display: table-cell!important;
}

@media screen and (max-width:900px){
  .infoPart{ width:100%; border-left:0; border-right:0;}
  .relationPart li{ width:50%;}
  .relationPart li.r2{ width:100%;}
  .relationPart li.r3{width:100%;}
  .formPart li{ width:50%;}
  .formPart li.r2{ width:100%;}
}

@media screen and (max-width:620px){
  .relationPart li{ width:100%;}
  .formPart li{ width:100%;}
}
