@charset "UTF-8";
@import '../library/style/config2.scss';

.outFrame {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
    background: url(images/loginBack.jpg) no-repeat center;
    background-size: cover;
    opacity: .9;
    transform-origin: 50% 50%;
    transition-property: transform, filter, opacity;
    transition-duration: 1s;
  }
}

.loginFrame {
  float:right;
  width: 500px;
  height:100%;
  background:rgba(255,255,255,.8);
  box-shadow:0 0 10px rgba(0,0,0,.3);
}

.loginContent {
  width:55%;
  margin:auto;
  padding-top:100px;
}

h1{
  text-align:right;
  img{ width:195px;}
}
h2{ float:right; margin-top:5px; padding:5px 8px; background:rgba(255, 204, 0, 1); font-size:14px; font-weight:normal;}

.loginForm {
  padding-top:50px;
  list-style: none;
  li {
    padding: 12px 0;
    font-size: 16px;
  }
  .el-autocomplete{ width:100%;}
  .el-input{ width: 100%; font-size:16px;}
  .el-checkbox__label{ font-size:16px;}
  .el-input .el-input__prefix{
    color: $color5;
    font-size: 20px;
  }
  .el-input .el-input__clear{
    font-size: 20px;
  }
  .rexButton {
    $buttonColor: $color1 $color2 #fff; font-size:16px;
    &[color='green'] {
      @include setButtonColor('green',$buttonColor);
    }
  }
  .buttonBar{
    .rexButton{ width:100%;}
  }
}
.tipMessage{ text-align:center;}
.tipMessage span { //提示信息
  display: inline-block;
  padding: .4em .8em;
  border: 1px solid #999;
  background: #fff;
  font-size: 14px;
  .loadingBlock {
    display: none;
  }
  &.warning {
    border-color: #f90;
    color: #f90;
    background: #ffefd2;
    &:before {
      content: '\f071';
    }
  }
  &.loading {
    .loadingBlock {
      display: inline-block;
    }
    border-color: #999;
    color: #666;
  }
  &.error {
    border-color: red;
    color: red;
    background: #f6d9d9;
    &:before {
      content: '\f057';
    }
  }
  &.ok {
    border-color: #028342;
    color: #028342;
    background: #e3fff1;
    &:before {
      content: '\f058';
    }
  }
}

.inputPassword input{ -webkit-text-security:disc;}
